body {
    background-image: url(IMG_0837.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;

}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 0.575);
    border: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

label {
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
    color:rgb(255, 255, 255);
    font-size: 180%;
}
input {
    width: 300px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0.486);
}
input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.mydiv {
    border: 1px outset rgb(255, 255, 255);
    background-color: rgba(173, 216, 230, 0);
    text-align: center; 
}